PORT=8787

FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx
FEISHU_VERIFICATION_TOKEN=xxx
FEISHU_ENCRYPT_KEY=

OPENCLAW_BASE_URL=http://127.0.0.1:18789
OPENCLAW_GATEWAY_TOKEN=xxx

ALLOW_OPEN_IDS=
ALLOW_CHAT_IDS=
DEFAULT_CHANNEL=feishu
LOG_LEVEL=info
